@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=BioRhyme:wght@200;800&family=Crimson+Text:wght@400;700&family=IBM+Plex+Sans:wght@100;300&family=Playfair+Display:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612&family=BioRhyme:wght@200;700&family=Crimson+Text:ital@0;1&family=IBM+Plex+Sans:wght@100&family=Playfair+Display:ital@0;1&family=Raleway:wght@100&display=swap');


.page-edit-btn,
.skill-edit-btn {
    border: none;
    background: none;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;
    height: fit-content;
}

.page-edit-btn {
    float: right;
}

.skill-edit-btn {
    padding-left: 1em;
}

.page-edit-btn:hover,
.skill-edit-btn:hover {
    color: red;
}

.final-portfolio-btn{
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    height: fit-content;
    float: right;
    text-align: right;
}

.name-column,
.location-column,
.pitch-container {
    display: flex;
    justify-content: space-between;
}

.colorLeftBtn {
    padding-right: 3em;
}

.colorRightBtn {
    position: absolute;
    top: 2em;
    right: 25%;
}

.fontsBtn {
    position: absolute;
    top: 2em;
    right: 19%;
}

.project-title {
    display: flex;
    flex-direction: column;
}

.edit_projects {
    padding-top: 1em;
}

.skills-header {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

.skill-heading-container {
    display: flex;
}
