@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* body {
    background-color: blanchedalmond;
    background-repeat: no-repeat;
} */

.pop-up {
    
}

.portfolio-wrapper {
    position: absolute;
}

.edit-about-div {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    display: none;
}

.edit-contact-div {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    display: none;
}


.edit-project-div {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    display: none;
}

.edit-skill-div {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    display: none;
}

form {
    position: relative;
    z-index: 1;
    background: hsl(27, 91%, 58%);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(200, 124, 24), 0 5px 5px 0 rgba(200, 124, 24);
}

form input {
    font-family: FontAwesome, "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius:10px;
    
}

form button {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    background: hsl(27, 66%, 50%);
    width: 100%;
    border: 0;
    border-radius:30px;
    margin: 0px 0px 8px;
    padding: 15px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;

}

form button:hover,.form button:focus {
    background: hsl(27, 66%, 50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

form button:active {
    transform: translateY(2px);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}


.heading {
    color: #FFFFFF;
    font-family: "Titillium Web", sans-serif;
}
