<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>


<div class="create-about-div">
    <form action="/api/portfolio/about" method="post" class="about-form">
        <input type="text" placeholder="Location" class="user-location" name="user-location">
        <input type="text" placeholder="Welcome Bio" class="user-welcome" name="user-welcome">
        <input type="text" placeholder="Contact Pitch" class="user-pitch" name="user-pitch">
        <button>Add About Details</button>
    </form>
</div>

<div class="edit-about-div">
    <form action="/api/portfolio/about" method="put" class="about-form">
        <input type="text" placeholder="Location" class="user-location" name="user-location">
        <input type="text" placeholder="Welcome Bio" class="user-welcome" name="user-welcome">
        <input type="text" placeholder="Contact Pitch" class="user-pitch" name="user-pitch">
        <button>Update About Details</button>
    </form>
</div>

<div class="create-contact-div">
    <form action="/api/portfolio/contact" method="post" class="contact-form">
        <input type="text" placeholder="Git Hub URL" class="github-url" name="github-url">
        <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin-url">
        <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram-url">
        <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter-url">
        <button>Add Contact Details</button>
    </form>
</div>

<div class="edit-contact-div">
    <form action="/api/portfolio/contact" method="put" class="contact-form">
        <input type="text" placeholder="Git Hub URL" class="github-url" name="github-url">
        <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin-url">
        <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram-url">
        <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter-url">
        <button>Update Contact Details</button>
    </form>
</div>

<div class="create-project-div">
    <form action="/api/portfolio/project" method="post" class="project-form">
        <input type="text" placeholder="Git Hub URL" class="github-url" name="github-url">
        <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin-url">
        <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram-url">
        <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter-url">
        <button>Add Contact Details</button>
    </form>
</div>

<div class="edit-contact-div">
    <form action="/api/portfolio/contact" method="put" class="contact-form">
        <input type="text" placeholder="Git Hub URL" class="github-url" name="github-url">
        <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin-url">
        <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram-url">
        <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter-url">
        <button>Update Contact Details</button>
    </form>
</div>

    
</body>
</html>