<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>


// ABOUT
<div class="create-about-div">
    <form action="/api/portfolio/about" method="post" class="about-form">
        <input type="text" placeholder="Location" class="user-location" name="user-location">
        <input type="text" placeholder="Welcome Bio" class="user-welcome" name="user-welcome">
        <input type="text" placeholder="Contact Pitch" class="user-pitch" name="user-pitch">
        <button>Add About Details</button>
    </form>
</div>

<div class="edit-about-div">
    <form action="/api/portfolio/about" method="put" class="about-form">
        <input type="text" placeholder="Location" class="user-location" name="user-location">
        <input type="text" placeholder="Welcome Bio" class="user-welcome" name="user-welcome">
        <input type="text" placeholder="Contact Pitch" class="user-pitch" name="user-pitch">
        <button>Update About Details</button>
    </form>
</div>

// CONTACT
<div class="create-contact-div">
    <form action="/api/portfolio/contact" method="post" class="contact-form">
        <input type="text" placeholder="Git Hub URL" class="github-url" name="github-url">
        <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin-url">
        <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram-url">
        <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter-url">
        <button>Add Contact Details</button>
    </form>
</div>

<div class="edit-contact-div">
    <form action="/api/portfolio/contact" method="put" class="contact-form">
        <input type="text" placeholder="Git Hub URL" class="github-url" name="github-url">
        <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin-url">
        <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram-url">
        <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter-url">
        <button>Update Contact Details</button>
    </form>
</div>

// PROJECT
<div class="create-project-div">
    <form action="/api/portfolio/project" method="post" class="project-form">
        <input type="text" placeholder="Project Heading" class="project-heading" name="project-heading">
        <input type="text" placeholder="Project Year" class="project-year" name="project-year">
        <input type="text" placeholder="Project Description" class="project-description" name="project-description">
        <input type="text" placeholder="Project URL" class="project-url" name="project-url">

        <button>Add Project</button>
    </form>
        <button>Close and Save</button>
</div>

<div class="edit-project-div">
    <form action="/api/portfolio/project" method="put" class="project-form">
        <input type="text" placeholder="Project Heading" class="project-heading" name="project-heading">
        <input type="text" placeholder="Project Year" class="project-year" name="project-year">
        <input type="text" placeholder="Project Description" class="project-description" name="project-description">
        <input type="text" placeholder="Project URL" class="project-url" name="project-url">
        <button>Update Project Details</button>
    </form>
</div>

// SKILLS
<div class="create-skills-div">
    <form action="/api/portfolio/skills" method="post" class="skills-form">
        <input type="text" placeholder="Skills" class="skills" name="skills">
        <button>Add Skill</button>
    </form>
        <button>Close and Save</button>
</div>

<div class="edit-skill-div">
    <form action="/api/portfolio/skill" method="put" class="skill-form">
        <input type="text" placeholder="Skills" class="skills" name="skills">
        <button>Update Skill</button>
    </form>
</div>

    
</body>
</html>