<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/finished-portfolio.css">
    <link rel="stylesheet" href="/css/modals.css">

    <title>Testing</title>
</head>
<body>

<div class="portfolio-wrapper">

        <div class="left-column">

            <section class="about-me">

            <button class="edit_aboutMe">edit</button>
            <button class="colorLeftBtn">color</button>
            
                <div class="name-location-wrapper">
                    <h1 class="user-name">
                        
                    </h1>
                    <h2 class="user-location">
                        
                    </h2>
                </div>

                <h2 class="user-welcome">
                    
                </h2>
            </section>
            <section class="contact">

            <button class="edit_contact">edit</button>

                <h2 class="contact-pitch"></h2>
                <div class="user-links">
                    <div class="user-links-left-column">
                        <div class="email-github-container">
                            <h3 class="links-heading">email:</h3>
                            <a href="#" class="links-anchor email-anchor">
                                
                            </a>
                            
                        </div>
                        <div class="copyright-container">
                            &copy 2021 <span class="copyright-name"></span> 
                        </div>
                    </div>       
                    <div class="user-links-right-column">
                        <div class="email-github-container">
                            <h2 class="links-heading">github:</h2>
                            <a href="#" class="links-anchor github-anchor"></a> 
                        </div>
                        <div class="socials-container">
                            <a href="#" class="linkedin">LinkedIn</a>
                            <a href="#" class="instagram">Instagram</a>
                            <a href="#" class="twitter">Twitter</a>
                        </div>
                    </div>  
                </div>
            </section>
        </div>

        <div class="right-column">
            <section class="projects">

                <button class="edit_projects">edit</button>
                <button class="colorRightBtn">color</button>
                <button class="add_projects">add project</button>

                <h2 class="projects-heading">Projects</h2>
                <div class="projects-grid">

                    <!-- projects generate here -->

                </div>
            </section>
            <section class="skills">
            
            <button class="edit_skills">edit</button>
            <button class="add_skills">add skills</button>

                <h2 class="skills-heading">Skills</h2>
                <div class="skills-grid">
                    <div class="skills-container front-end">
                        <h3 class="skill-heading">Front-End</h3>

                        <!-- front end list generates here -->

                    </div>
                    <div class="skills-container back-end">
                        <h3 class="skill-heading">Back-End</h3>
                        
                        <!-- back end list generates here -->

                    </div>
                    <div class="skills-container other">
                        <h3 class="skill-heading">Other</h3>

                        <!-- other list generates here -->
                        
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>




<div class="pop-up">
    <!-- ABOUT -->

    <div class="edit_about_div">

        <form method="patch" class="about-form">

            <h2 class="heading"> About You</h2>

            <input type="text" placeholder="Location" class="user_location" name="user_location">

            <input type="text" placeholder="Welcome Bio" class="user_welcome" name="user_welcome">

            <input type="text" placeholder="Contact Pitch" class="user-pitch" name="user_pitch">

            <button>Update</button>



        </form>


    </div>

    <!-- CONTACT -->
    

    <div class="edit_contact_div">

        <form method="patch" class="contact-form">

            <h2 class="heading">Your Contacts</h2>

            <input type="text" placeholder="Git Hub URL" class="github-url" name="github_url">

            <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin_url">

            <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram_url">

            <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter_url">


            <button>Update</button>

        </form> 
    </div> 

    <!-- PROJECT -->
    

    <div class="edit_project_div">


        <form action="/api/portfolio/project" method="put" class="project-form">

            <h2 class="heading">Edit Project</h2>

            <input type="text" placeholder="Project Heading" class="project_heading" name="project-heading">

            <input type="text" placeholder="Project Year" class="project_year" name="project-year">

            <input type="text" placeholder="Project Description" class="project_description" name="project-description">

            <input type="text" placeholder="Project URL" class="project-url" name="project-url">

            <button>Update</button>
            <button>Delete</button>

        </form>

    </div>

    <div class="add_project_div">

    <form action="/api/portfolio/project" method="put" class="project-form">

            <h2 class="heading">Add Project</h2>

            <input type="text" placeholder="Project Heading" class="project_heading" name="project-heading">

            <input type="text" placeholder="Project Year" class="project_year" name="project-year">

            <input type="text" placeholder="Project Description" class="project_description" name="project-description">

            <input type="text" placeholder="Project URL" class="project-url" name="project-url">

            <button>Add</button>

        </form>
    </div>

    <!-- SKILLS -->
    

    <div class="edit_skill_div">

        <form action="/api/portfolio/skill" method="put" class="skill-form">

            <h2 class="heading">Edit Skills</h2>

            <input type="text" placeholder="Skill Heading" class="skills" name="skills">
            <h3>enter your skills seperated by commas</h3>
            <input type="text" placeholder="Skills" class="skills" name="skills">

            <button>Delete</button>
            <button>Update</button>
        </form>
    </div>

    <div class="add_skills_div">

    <form action="/api/portfolio/skill" method="post" class="skill-form">

            <h2 class="heading">Add Skills</h2>

            <input type="text" placeholder="Skill Heading" class="skills" name="skills">
            <h3>enter your skills seperated by commas</h3>
            <input type="text" placeholder="Skills" class="skills" name="skills">

            <button>Add</button>
        </form>
    </div>

    <div class="edit_fontsColors_div">
    
    <form action="/api/portfolio/skill" method="patch" class="">

            <h2 class="heading">Color and Fonts</h2>

            <label for="heading-font">Heading Fonts</label>

            <select name="heading-font" class="modal-dropDown dropDown-hf">

                <option value="Times New Roman">Times New Roman</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Times New Roman">Times New Roman</option>
            
            </select>

            <label for="paragraph-font">Paragraph Font</label>

            <select name="paragraph-font" class="modal-dropDown dropDown-pf">

            <option value="Times New Roman">Times New Roman</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Times New Roman">Times New Roman</option>

            </select>
            
            <h3>Left / Right</h3>
            <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
            </label>
            
            
            <h3>Heading Colour</h3>
            <input type="color">
            <h3>Paragraph Colour</h3>
            <input type="color">
            <h3>Background Colour</h3>
            <input type="color">

            <button>Add</button>
        </form>
    
    
    
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/update_portfolio.js"></script>
<script src="/js/edit_port_modal.js"></script>
<script src="/js/update_db.js"></script>

</body>
</html>