<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/finished-portfolio.css">
    <link rel="stylesheet" href="/css/modals.css">
    <link rel="stylesheet" href="/css/edit_portfolio.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=BioRhyme:wght@200;800&family=Crimson+Text:wght@400;700&family=IBM+Plex+Sans:wght@100;300&family=Playfair+Display:ital,wght@0,400;1,600&display=swap" rel="stylesheet"></link>

    <title>My Portfolio</title>
</head>
<body>

<div class="portfolio-wrapper">

        <div class="left-column">

            <section class="about-me">
            
                <div class="name-location-wrapper">
                    <div class="name-column">
                        <h1 class="user-name left-heading">
                            
                        </h1>
                        <button class="colorLeftBtn page-edit-btn">colors/fonts</button>
                    </div>
                    <div class="location-column">
                        <h2 class="user-location  left-heading">
                            
                        </h2>
                    <button class="edit_aboutMe page-edit-btn">edit section</button>
                    
                    </div>
                </div>

                <h2 class="user-welcome left-heading">
                    
                </h2>
            </section>
            <section class="contact">

            
                <div class="pitch-container">
                    <h2 class="contact-pitch left-heading"></h2>
                    <button class="edit_contact page-edit-btn font">edit section</button>
                </div>
                <div class="user-links">
                    <div class="user-links-left-column">
                        <div class="email-github-container">
                            <h3 class="links-heading left-heading font">email:</h3>
                            <a href="#" class="links-anchor email-anchor font">
                                
                            </a>
                            
                        </div>
                        <div class="copyright-container font">
                            &copy 2021 <span class="copyright-name font"></span> 
                        </div>
                    </div>       
                    <div class="user-links-right-column">
                        <div class="email-github-container">
                            <h2 class="links-heading left-heading">github:</h2>
                            <a href="#" class="links-anchor github-anchor font"></a> 
                        </div>
                        <div class="socials-container">
                            <a href="#" class="linkedin font">LinkedIn</a>
                            <a href="#" class="instagram font">Instagram</a>
                            <a href="#" class="twitter font">Twitter</a>
                        </div>
                    </div>  
                </div>
            </section>
        </div>

        <div class="right-column">
            <section class="projects">
                <button class="colorRightBtn page-edit-btn font">colors/fonts</button>

                <h2 class="projects-heading right-heading">Projects</h2>
                <div class="projects-grid">

                    <!-- projects generate here -->

                </div>
                <button class="add_projects page-edit-btn font">add project</button>
            </section>
            <section class="skills">
                <header class="skills-header">
                    <h2 class="skills-heading right-heading">Skills</h2>
                    <button class="add_skills page-edit-btn font">add skill</button>
                </header>
                <div class="skills-grid">
                    
                </div>
            </section>
        <button class="finished-portfolio final-portfolio-btn font"><a target="_blank" href="/portfolios/<%=user_id%>">Go to your finished portfolio</a></button>
        </div>
</div>




<div class="pop-up">
    <!-- ABOUT -->

    <div class="edit_about_div edit_div">
​
        <form method="patch" class="about-form">
​
            <h2 class="heading"> About You</h2>
​
            <input type="text" placeholder="Location" class="user_location" name="user_location">
​
            <input type="text" placeholder="Welcome Bio" class="user_welcome" name="user_welcome">
​
            <input type="text" placeholder="Contact Pitch" class="user-pitch" name="user_pitch">
​
            <button>Update</button>
​
        </form>
​
​
    </div>


    <!-- CONTACT -->
    

    <div class="edit_contact_div edit_div">

        <form method="patch" class="contact-form">

            <h2 class="heading">Your Contacts</h2>

            <input type="text" placeholder="Git Hub URL" class="github-url" name="github_url">

            <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin_url">

            <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram_url">

            <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter_url">


            <button>Update</button>

        </form> 

    </div> 

    <!-- PROJECT -->
    

    <div class="edit_project_div edit_div">


        <form method="patch" class="edit-project-form">

            <h2 class="heading">Edit Project</h2>

            <input type="text" placeholder="Project Heading" class="project_heading" name="project_heading">

            <input type="text" placeholder="Project Year" class="project_year" name="project_year">

            <input type="text" placeholder="Project Description" class="project_description" name="project_description">

            <input type="text" placeholder="Project URL" class="project-url" name="project_url">

            <button>Update</button>

        </form>

        <form method="patch" class="delete-project-form">
            <button>Delete</button>
        </form>

    </div>

    <div class="add_project_div edit_div">

        <form  method="patch" class="add-project-form">
                <h2 class="heading">Add Project</h2>

                <input type="text" placeholder="Project Heading" class="project_heading" name="project_heading">

                <input type="text" placeholder="Project Year" class="project_year" name="project_year">

                <input type="text" placeholder="Project Description" class="project_description" name="project_description">

                <input type="text" placeholder="Project URL" class="project-url" name="project_url">

                <button>Add</button>
        </form>



    </div>

    <!-- SKILLS -->
    

    <div class="edit_skill_div edit_div">
        <form  method="patch" class="edit-skill-form">

            <h2 class="heading">Edit Skills</h2>

            <input type="text" placeholder="Skill Heading" class="skills-list-heading" name="skills_heading">
            <h3>enter your skills seperated by commas</h3>
            <input type="text" placeholder="Skills" class="skills-list" name="skills_list">

            <button>Update</button>
        </form>
        <form  method="patch" class="delete-skill-form">
            <button>Delete</button>
        </form>
    </div>

    <div class="add_skills_div edit_div">

    <form method="patch" class="add-skill-form">

        <h2 class="heading">Add Skills</h2>

        <input type="text" placeholder="Skill Heading" class="skills-heading" name="skills_heading">
        <h3>enter your skills seperated by commas</h3>
        <input type="text" placeholder="Skills" class="skills-list" name="skills_list">

        <button>Add</button>
    </form>



    </div>

    <div class="edit_fontsColors_div left-edit edit_div">
    
        <form method="patch" class="color-font-picker">

            <h2 class="heading">Left Color and Fonts</h2>

            <h3 for="heading-font">Heading Fonts</h3>
            <select name="heading-font" class="modal-dropDown dropDown-hf">
                <option value="select">Select Font</option>
            </select>

            <h3 for="paragraph-font">Paragraph Font</h3>
            <select name="paragraph-font" class="modal-dropDown dropDown-pf">
                <option value="select">Select Font</option>
            </select>
            
            <h3>Heading Colour</h3>
            <input type="color" class="heading-color-left">
            <h3>Paragraph Colour</h3>
            <input type="color" class="paragraph-color-left">
            <h3>Background Colour</h3>
            <input type="color" class="background-color-left">

            <button>Add</button>
        </form>

    </div>

    <div class="edit_fontsColors_div right-edit edit_div">
    
        <form method="patch" class="color-font-picker">

            <h2 class="heading">Right Color and Fonts</h2>

            <h3 for="heading-font">Heading Fonts</h3>
            <select name="heading-font" class="modal-dropDown dropDown-hf">
                <option value="select">Select Font</option>
            </select>

            <h3 for="paragraph-font">Paragraph Font</h3>
            <select name="paragraph-font" class="modal-dropDown dropDown-pf">
                <option value="select">Select Font</option>
            </select>
            
            <h3>Heading Colour</h3>
            <input type="color" class="heading-color-right">
            <h3>Paragraph Colour</h3>
            <input type="color" class="paragraph-color-right">
            <h3>Background Colour</h3>
            <input type="color" class="background-color-right">

            <button>Add</button>
        </form>

    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/update_portfolio.js"></script>
<script src="/js/update_db.js"></script>
<script src="/js/edit_port_modal.js"></script>
<script src="/js/modal_values.js"></script>
<script src="/js/projects.js"></script>
<script src="/js/skills.js"></script>
<script src="/js/change_font.js"></script>

</body>
</html>