<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test portfolio</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/finished-portfolio.css">
</head>
<body>
    
    <div class="portfolio-wrapper">

        <div class="left-column">

            <section class="about-me">

                <div class="name-location-wrapper">
                    <h1 class="user-name">
                        
                    </h1>
                    <h2 class="user-location">
                        
                    </h2>
                </div>

                <h2 class="user-welcome">
                    
                </h2>
            </section>
            <section class="contact">
                <h2 class="contact-pitch"></h2>
                <div class="user-links">
                    <div class="user-links-left-column">
                        <div class="email-github-container">
                            <h3 class="links-heading">email:</h3>
                            <a href="#" class="links-anchor email-anchor">
                                
                            </a>
                            
                        </div>
                        <div class="copyright-container">
                            &copy 2021 <span class="copyright-name"></span> 
                        </div>
                    </div>       
                    <div class="user-links-right-column">
                        <div class="email-github-container">
                            <h2 class="links-heading">github:</h2>
                            <a href="#" class="links-anchor github-anchor"></a> 
                        </div>
                        <div class="socials-container">
                            <a href="#" class="linkedin">LinkedIn</a>
                            <a href="#" class="instagram">Instagram</a>
                            <a href="#" class="twitter">Twitter</a>
                        </div>
                    </div>  
                </div>
            </section>
        </div>

        <div class="right-column">
            <section class="projects">
                <h2 class="projects-heading">Projects</h2>
                <div class="projects-grid">

                    <!-- projects generate here -->

                </div>
            </section>
            <section class="skills">
                <h2 class="skills-heading">Skills</h2>
                <div class="skills-grid">
                    <div class="skills-container front-end">
                        <h3 class="skill-heading">Front-End</h3>

                        <!-- front end list generates here -->

                    </div>
                    <div class="skills-container back-end">
                        <h3 class="skill-heading">Back-End</h3>
                        
                        <!-- back end list generates here -->

                    </div>
                    <div class="skills-container other">
                        <h3 class="skill-heading">Other</h3>

                        <!-- other list generates here -->
                        
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/finished_portfolio.js"></script>
</body>
</html>