<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
        rel="stylesheet"
        type="text/css"
    />
    <link rel="stylesheet" href="../client/css/index.css">


    <title>Testing</title>
</head>
<body>

    <form action="/" method="post" class="signup-form">

        <h1>JGRS Portfolio</h1>
        <h2 class="sign-up-error"></h2>

        <input type="text" placeholder="full name" class="name" name="name">
        <input type="text" placeholder="email" class="email" name="email">
        <input type="text" placeholder="set password" class="password" name="password">

        <button>Sign Up</button>
        <button>Login</button>
    </form>


    <form action="/" method= "post" class="login-form">

            <h1>JGRS Portfolio</h1>
            <h2 class="login-error"></h2>

            <input type="text" name="email" placeholder="email">

            <input type="password" name="password" placeholder="password"> 


            <button class="login-btn">Login</button> 
            
            <button class="signUp-btn">Sign Up</button> 
    
    </form>



    
</body>
</html>