<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
        rel="stylesheet"
        type="text/css"
    />
    <link rel="stylesheet" href="/css/index.css">

    <title>Sign Up</title>
</head>
<body>
    <div class='login-page'>
        <div class="form">

            <form class="signup-form" action="/api/portfolios/signup" method="post" >

                <h1 class="heading">JGRS Portfolios</h1>
                <h2>Create Your Dream Portfolio</h2>
                <h4 class="sign-up-error"><%= signupEmailError %></h4>

                <input type="text" placeholder="full name" name="name">
                
                <input type="text" placeholder="email" name="email">
                
                <input type="text" placeholder="set password" name="password">

                
                <button class="signUp-btn">Sign Up</button>

            </form>

        </div>
    </div>

    <script src="/js/signup.js"></script>
</body>
</html>

    <!-- <section class='sign_up'>
    
        <form class="form" action="" method= "post">

            <h2>Sign Up</h2>

            <input type="text" name="first-name" placeholder="first name">

            <input type="text" name="last-name" placeholder="last name">

            <input type="text" name="email" placeholder="email">

            <input type="password" name="password" placeholder="set password"> 
    
            <button class="signUp-btn">Sign Up</button> 
            <button class="login-btn">Login</button> 
    
        </form>
    
    </section> -->