<html lang="en">
<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116364128-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116364128-1');
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Portfolio of Taryn Ewens - Web Developer & Creative in Sydney, Australia">
	<title>Taryn Ewens - Front End Web Developer & Creative in Sydney, Australia</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/test-template.css">
    <link rel="stylesheet" href="/css/modals.css">
    <link rel="stylesheet" href="/css/edit_portfolio.css">
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/typeit.min.js"></script>
	<script src="js/main.js"></script>

</head>

<body>
	<div class="portfolio-wrapper">



		<header>
			<nav>
					<ul>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#aboutheading">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
			</nav>
			<div class="text-box">
          <h1 class="heading-primary">
            <span class="heading-primary-main">Taryn Ewens</span>
            <span class="heading-primary-sub">front end web developer / creative in Sydney, Australia</span>
          </h1>
			</div>
			<div class="button-container">
			  <a href="#contact" class="btn btn-white btn-animated"><span>Contact me</span></a>
			</div>
		</header>

		<main>
			<div>
				<h4>Featured Projects</h4>
			</div>
			<div id="portfolio" class="wrapper clearfix">

				<div class="singleproject">

					<div class="project-img">
						<a href="https://github.com/tarynelise/project3-client" target="_blank" rel="noopener">
							<div class="image-container">
							<img src="images/cheesepets_react_rubyonrails.jpg" alt="CheesePets - A virtual pet game built in React.js and Ruby on Rails" title="CheesePets - A virtual pet game built in React.js and Ruby on Rails"><span class="assistive-text">"CheesePets" - A virtual pet game built in React.js and Ruby on Rails</span></a>
							</div>
					</div>
					<div class="project-txt">
						<h4>"CheesePets"</h4>
						<p>The final project of my web development bootcamp. I wanted to bring my dev story full circle back to the reason I taught myself HTML as a kid: virtual pets. You can sign up, adopt a pet, play a game to win pieces of cheese, and then use that cheese to purchase items to care for your pet!</p>
						<p><strong>Please note:</strong> This project is not yet mobile responsive - I'm working on it!</p>
						<h5>Technologies used:</h5>
							<ul>
								<li>HTML</li>
								<li>CSS</li>
								<li>React.js</li>
								<li>Ruby on Rails</li>
								<li>Material UI</li>
							</ul>
						<a href="https://github.com/tarynelise/project3-client" target="_blank" rel="noopener" alt="CheesePets code on Github">Github</a> | <a href="https://cheesepets.herokuapp.com/" target="_blank" rel="noopener" alt="CheesePets Live Demo">Live Demo</a>
					</div>
				</div>

				<div class="singleproject">

					<div class="project-img">
						<a href="https://github.com/mradinoff/EarBuddies-Front" target="_blank" rel="noopener">
							<div class="image-container">
							<img src="images/earbuddies_react_rubyonrails.jpg" alt="EarBuddies - A social media built in React.js and Ruby on Rails" title="EarBuddies - A social media built in React.js and Ruby on Rails"><span class="assistive-text">EarBuddies - A social media built in React.js and Ruby on Rails</span></a>
							</div>
					</div>
					<div class="project-txt">
						<h4>"EarBuddies"</h4>
						<p>A group project where we created a social media platform allowing users to find events, live chat with others attending, see who's attending and "match" with a friend. Third project of my web development bootcamp. </p>
						<h5>Technologies used:</h5>
							<ul>
								<li>HTML</li>
								<li>CSS</li>
								<li>React.js</li>
								<li>Ruby on Rails</li>
								<li>Bootstrap</li>
								<li>Material UI</li>
							</ul>
						<a href="https://github.com/mradinoff/EarBuddies-Front" target="_blank" rel="noopener" alt="EarBuddies code on Github">Github</a> | <a href="https://earbuddies-react.herokuapp.com/" target="_blank" rel="noopener" alt="EarBuddies Live Demo">Live Demo</a>
					</div>
				</div>

				<div class="singleproject">
					<div class="project-img">
						<a href="https://github.com/tarynelise/project1" target="_blank" rel="noopener">
							<div class="image-container">
								<img src="images/woofer_rubyonrails.jpg" alt="Twitter for Dogs Ruby on Rails Project" title="Twitter for Dogs Ruby on Rails Project"><span class="assistive-text">Twitter for Dogs Ruby on Rails Project</span></a>
							</div>
					</div>
					<div class="project-txt">
						<h4>"WOOFER"</h4>
						<p>It's like Twitter... for dogs! Hoping to add more functionality soon and fix some glitches, such as the navigation which is not perfect on mobile devices. Second project of my web development bootcamp.</p>
						<h5>Technologies used:</h5>
							<ul>
								<li>HTML</li>
								<li>CSS (Sass)</li>
								<li>Ruby on Rails</li>
								<li>Bootstrap</li>
							</ul>
							<a href="https://github.com/tarynelise/project1" target="_blank" rel="noopener" alt="WOOFER code on Github">Github</a> | <a href="https://wooferproject.herokuapp.com/" target="_blank" rel="noopener" alt="WOOFER Live Demo">Live Demo</a>
						</div>
				</div>


				<div class="singleproject">
					<div class="project-img">
						<a href="https://github.com/tarynelise/project0" target="_blank" rel="noopener">
						<div class="image-container">
							<img src="images/tictactoe_javascript.jpg" alt="Tic Tac Toe Javascript Project" title="Tic Tac Toe Javascript Project"><span class="assistive-text">Tic Tac Toe Javascript Project</span></a>
						</div>
					</div>
					<div class="project-txt">
						<h4>Tic Tac Toe</h4>
						<p>My first major project of my bootcamp, a simple tic tac toe game which took about 4 attempts until I felt the logic was right!</p>
							<h5>Technologies used:</h5>
								<ul>
									<li>HTML</li>
									<li>CSS</li>
									<li>Javascript</li>
									<li>jQuery</li>
								</ul>
						<a href="https://github.com/tarynelise/project0" target="_blank" rel="noopener" alt="Tic Tac Toe code on Github">Github</a> | <a href="https://tarynelise.github.io/project0/" target="_blank" rel="noopener" alt="Tic Tac Toe Live Demo">Live Demo</a>
					</div>
				</div>



			</div>

			<div class="wrapper">

				<div class="about">

					<div class="left">
						<h3 id="aboutheading">About me</h3>
					</div>

					<div class="text">
						<span id="funfact"><h4>Fun Fact: I taught myself to write HTML when I was about 10 years old, so I could build websites about my virtual "dogz"!</h4></span>
						<p>It wasn't until I'd spent a number of years working in office administration, and then another few years as a pastry chef making handmade confectionery, that I decided to pull my passion for creating websites from side hobby status to the forefront. </p>

						<p>After hanging up my apron, I joined General Assembly's full time Web Development Immersive bootcamp, and quickly discovered that learning to code was actually similar to learning a recipe. If you combine the right "ingredients" in the correct way, success! Otherwise, you might end up with a cake wreck on your hands.</p>

						<p>Inspired by beautiful and quirky designs, I love working within a highly creative team who value openness and collaboration.</p>

						<BR/>
						<p>If you haven't already, you will quickly discover that fluffy dogs are my all-time favourite thing and yes, I would very much like to show you photos of my furbaby.</p><BR><BR>
						<!-- <p><a href="other/TarynEwens_Resume.pdf" class="resume"a target="_blank" rel="noopener">Download Resume (PDF)</a></p> -->
				</div>
			</div>

			<div class="about">
				<h3>Skills</h3>
				<div class="skills text">
					<div class="skills-list">
						<h5>Front End</h5>
						<ul>
							<li>HTML</li>
							<li>CSS / SCSS</li>
							<li>Bootstrap</li>
							<li>Javascript</li>
							<li>React.js</li>
							<li>jQuery</li>
							<li>Underscore.js</li>
						</ul>
					</div>
					<div class="skills-list">
						<h5>Back End</h5>
						<ul>
							<li>Ruby</li>
							<li>Ruby on Rails</li>
							<li>SQL</li>
							<li>PostgresSQL</li>
							<li>Ajax</li>
						</ul>
					</div>
					<div class="skills-list">
					<h5>Other</h5>
						<ul>
							<li>Git</li>
							<li>Photoshop</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="about">
				<h3>Interests</h3>
				<div class="text">
					<p>Right now I'm focused on gaining more experience in React.js, as well as learning Node.js.</p>
					<p>Aside from that, I'm immensely excited by learning how to create HTML & Javascript based games, and am hoping to soon start experimenting with creating images using CSS.</p>
					<p>Having had a brief introduction to Vue.js, I am interested in exploring this framework further as I feel it could be a simpler solution than React.js for smaller projects.</p>
				</div>
			</div>

			<div class="about" id="contact">
				<h3>Contact</h3>
				<div class="text">

					<p><span class="email"><a href="mailto:taryn@taryn.codes">taryn@taryn.codes</a></span>

					<a href="https://instagram.com/tarynewens" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
					<a href="https://twitter.com/tarynewens" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
					<a href="https://github.com/tarynelise/" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
					<a href="https://codepen.io/tarynewens/" target="_blank" rel="noopener"><i class="fab fa-codepen"></i></a>
					<a href="https://www.linkedin.com/in/taryn-ewens-95a41a65/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
					</p>
				</div>
			</div>

			</div>

		</main>
		<footer>
			<a href="#"><h3>Take it from the top.</h3></a>
			<img src="images/spoon.png" alt="wooden spoon graphic" title="wooden spoon graphic" class="icons spoon"/>
			<img src="images/bowl.png" alt="mixing bowl graphic" title="mixing bowl graphic" class="icons bowl"/>
			<img src="images/measuringspoons.png" alt="measuring spoons graphic" title="measuring spoons graphic" class="icons measuring"/>
		</footer>
	</div>

	<!-- Default Statcounter code for Taryn.codes
	http://taryn.codes -->
	<script type="text/javascript">
	var sc_project=11666152;
	var sc_invisible=1;
	var sc_security="4da5974d";
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js"
	async></script>
	<noscript><div class="statcounter"><a title="Web Analytics"
	href="http://statcounter.com/" target="_blank" rel="noopener"><img
	class="statcounter"
	src="//c.statcounter.com/11666152/0/4da5974d/1/" alt="Web
	Analytics"></a></div></noscript>
	<!-- End of Statcounter Code -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/finished_portfolio.js"></script>
    <script src="/js/projects.js"></script>
    <script src="/js/skills.js"></script>
</body>
</html>