<html lang="en">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/test-template.css">
    <link rel="stylesheet" href="/css/modals.css">
    <link rel="stylesheet" href="/css/edit_portfolio.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=B612&family=BioRhyme:wght@200;700&family=Crimson+Text:ital@0;1&family=IBM+Plex+Sans:wght@100&family=Playfair+Display:ital@0;1&family=Raleway:wght@100&display=swap" rel="stylesheet">

    <title>My Portfolio</title>
</head>

<body>
	<div class="main">



		<header>
			<nav>
					<ul>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#aboutheading">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
			</nav>

            <button class="colorLeftBtn page-edit-btn">colors/fonts</button>

			<div class="text-box">
                <h1 class="heading-primary">
                    <span class="user-name"></span>
                    <span class="user-welcome"></span> 
                </h1>
            </div>

            <div class="text-box">
                
                    <p class="user-location"></p>
                    <p class="contact-pitch"></p>
                
			</div>

			<div class="button-container">
			  <a href="#contact" class="btn btn-white btn-animated"><span>Contact me</span></a>
			</div>

		</header>

		<main>

            			<div class="wrapper">

				<div class="about">

					<div class="left">
						<h3 id="aboutheading">About me</h3>
					</div>

					<div class="text">
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, sunt, eos adipisci fugiat repudiandae excepturi illo incidunt placeat voluptatibus saepe alias eum distinctio? Reiciendis qui amet unde aut ducimus dolor. </p>

						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod maiores iusto impedit nulla asperiores dolore, deleniti vel velit ab consectetur ratione, quasi earum ad architecto! Explicabo sunt esse hic animi.</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum culpa nulla ullam minima modi! Laudantium dolore quasi numquam expedita asperiores quos impedit praesentium incidunt dolorem cum unde, corrupti voluptate porro.</p>

						<BR/>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, assumenda vel? Dicta totam nostrum, soluta dolor consectetur, aut ipsa quas laboriosam sunt at, quasi numquam veritatis eligendi blanditiis sapiente quia.</p><BR><BR>
						<!-- <p><a href="other/TarynEwens_Resume.pdf" class="resume"a target="_blank" rel="noopener">Download Resume (PDF)</a></p> -->
				</div>
			</div>

			<div>
				<h4 class="project-heading">Featured Projects</h4>
			</div>
			<div id="portfolio" class="wrapper clearfix">
                <div class="projects-grid">
                    
                </div>



			</div>



			<div class="about">
				<h3 class="skills-heading">Skills</h3>
				<div class="skills-grid">
					
				</div>
			</div>

			<div class="about">
				<h3>Interests</h3>
				<div class="text">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iste architecto facilis nisi ad enim illum adipisci earum magni similique molestias, possimus ab velit eligendi, sit itaque esse ullam. Molestiae!</p>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsum harum quasi doloremque similique odit fugiat quisquam perspiciatis, consectetur, a tenetur. Enim, sequi facere. Doloremque dolorum iste nam libero eveniet.</p>
					
				</div>
			</div>

			<div class="about" id="contact">
				<h3>Contact</h3>
				<div class="text">

					<p><span id='email' class="links-anchor email-anchor"><a href="mailto:taryn@taryn.codes">taryn@taryn.codes</a></span>

					<a href="#" target="_blank" rel="noopener"><i class="fab fa-instagram instagram"></i></a>
					<a href="#" target="_blank" rel="noopener"><i class="fab fa-twitter twitter"></i></a>
					<a href="#" target="_blank" rel="noopener"><i class="fab fa-github link-anchor github-anchor"></i></a>
					<a href="#" target="_blank" rel="noopener"><i class="fab fa-codepen"></i></a>
					<a href="#" target="_blank" rel="noopener"><i class="fab fa-linkedin-in linkedin"></i></a>
					</p>
				</div>
			</div>

			</div>

		</main>
		<footer>
			<a href="#"><h3>Take it from the top.</h3></a>
            <div class="copyright-container">
                 &copy 2021 <span class="copyright-name"></span> 
            </div>
		</footer>
	</div>

    <div class="pop-up">
    <!-- ABOUT -->

    <div class="edit_about_div edit_div">
​
        <form method="patch" class="about-form form ">
​
            <h2 class="heading"> About You</h2>
​
            <input type="text" placeholder="Location" class="user_location" name="user_location">
​
            <input type="text" placeholder="Welcome Bio" class="user_welcome" name="user_welcome">
​
            <input type="text" placeholder="Contact Pitch" class="user-pitch" name="user_pitch">
​
            <button>Update</button>
​
        </form>
​
​
    </div>


    <!-- CONTACT -->
    

    <div class="edit_contact_div edit_div">

        <form method="patch" class="contact-form form ">

            <h2 class="heading">Your Contacts</h2>

            <input type="text" placeholder="Git Hub URL" class="github-url" name="github_url">

            <input type="text" placeholder="LinkedIn URL" class="linkedin-url" name="linkedin_url">

            <input type="text" placeholder="Instagram URL" class="instagram-url" name="instagram_url">

            <input type="text" placeholder="Twitter URL" class="twitter-url" name="twitter_url">


            <button>Update</button>

        </form> 

    </div> 

    <!-- PROJECT -->
    

    <div class="edit_project_div edit_div">


        <form class="edit-project-form form " method="patch" >

            <h2 class="heading">Edit Project</h2>

            <input type="text" placeholder="Project Heading" class="project_heading" name="project_heading">

            <input type="text" placeholder="Project Year" class="project_year" name="project_year">

            <input type="text" placeholder="Project Description" class="project_description" name="project_description">

            <input type="text" placeholder="Project URL" class="project-url" name="project_url">

            <button>Update</button>

        </form>

        <form class="delete-project-form form" method="patch" >
            <button>Delete</button>
        </form>

    </div>

    <div class="add_project_div edit_div">

        <form  method="patch" class="add-project-form form">
                <h2 class="heading">Add Project</h2>

                <input type="text" placeholder="Project Heading" class="project_heading" name="project_heading">

                <input type="text" placeholder="Project Year" class="project_year" name="project_year">

                <input type="text" placeholder="Project Description" class="project_description" name="project_description">

                <input type="text" placeholder="Project URL" class="project-url" name="project_url">

                <button>Add</button>
        </form>



    </div>

    <!-- SKILLS -->
    

    <div class="edit_skill_div edit_div">

        <form  method="patch" class="edit-skill-form form">

            <h2 class="heading">Edit Skills</h2>

            <input type="text" placeholder="Skill Heading" class="skills-list-heading" name="skills_heading">
            <h3>enter your skills seperated by commas</h3>
            <input type="text" placeholder="Skills" class="skills-list" name="skills_list">

            <button>Update</button>
        </form>
        <form  method="patch" class="delete-skill-form form">
            <button>Delete</button>
        </form>
    </div>

    <div class="add_skills_div edit_div">

    <form method="patch" class="add-skill-form form">

        <h2 class="heading">Add Skills</h2>

        <input type="text" placeholder="Skill Heading" class="skills-heading" name="skills_heading">
        <h3>enter your skills seperated by commas</h3>
        <input type="text" placeholder="Skills" class="skills-list" name="skills_list">

        <button>Add</button>
    </form>



    </div>

    <div class="edit_fontsColors_div left-edit edit_div">
    
        <form method="patch" class="color-font-picker form">

            <h2 class="heading">Left Color and Fonts</h2>

            <h3 for="heading-font">Heading Fonts</h3>
            <select name="heading-font" class="modal-dropDown dropDown-hf-left">
                <option value="select">Select Font</option>
            </select>

            <h3 for="paragraph-font">Paragraph Font</h3>
            <select name="paragraph-font" class="modal-dropDown dropDown-pf-left">
                <option value="select">Select Font</option>
            </select>
            
            <h3>Heading Colour</h3>
            <input type="color" class="heading-color-left color-picker">
            <h3>Paragraph Colour</h3>
            <input type="color" class="paragraph-color-left color-picker">
            <h3>Background Colour</h3>
            <input type="color" class="background-color-left color-picker">

            <button>Add</button>
        </form>

    </div>

    <div class="edit_fontsColors_div right-edit edit_div">
    
        <form method="patch" class="color-font-picker form">

            <h2 class="heading">Right Color and Fonts</h2>

            <h3 for="heading-font">Heading Fonts</h3>
            <select name="heading-font" class="modal-dropDown dropDown-hf-right">
                <option value="select">Select Font</option>
            </select>

            <h3 for="paragraph-font">Paragraph Font</h3>
            <select name="paragraph-font" class="modal-dropDown dropDown-pf-right">
                <option value="select">Select Font</option>
            </select>
            
            <h3>Heading Colour</h3>
            <input type="color" class="heading-color-right color-picker">
            <h3>Paragraph Colour</h3>
            <input type="color" class="paragraph-color-right color-picker">
            <h3>Background Colour</h3>
            <input type="color" class="background-color-right color-picker">

            <!-- <button>Add</button> -->
        </form>

    </div>
</div>

    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/edit_portfolio_selectors.js"></script>
    <script src="/js/test_update_portfolio.js"></script>
    <script src="/js/update_db.js"></script>
    <script src="/js/edit_port_modal.js"></script>
    <script src="/js/modal_values.js"></script>
    <script src="/js/projects.js"></script>
    <script src="/js/skills.js"></script>
    <script src="/js/change_font.js"></script>
    <script src="/js/color_change.js"></script>
</body>
</html>