:root {
    --setup-border: none;
    --heading: clamp(1.5em, 2vw, 2.5em);
    --main-text: 1.7em;
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: var(--setup-border);
    font-size: 10px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/**********************************************************

left-column

*********************************************************/

.left-column {
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: var(--setup-border);
    padding: 2.5em;
}

/************** about me row ******************/

.about-me{
    display: flex;
    border: var(--setup-border);
    flex-direction: column;
    gap: 20%;
}

.name-location-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: normal;
}

.user-name,
.user-location {
    border: var(--setup-border);
    font-size: var(--main-text);
    font-weight: 100;
}

.user-welcome{
    border: var(--setup-border);
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    width: 90%;
    max-width: 600px;
}

/************** contact row ******************/

.contact{
    display: flex;
    border: var(--setup-border);
    flex-direction: column;
    justify-content: space-between;
}

.contact-pitch{
    border: var(--setup-border);
    font-size: var(--heading);
    width: 90%;
    max-width: 600px;
}

.user-links{
    display: grid;
    border: var(--setup-border);
    grid-template-columns: 1fr 1fr;
    height: 50%;
}

.user-links-left-column, 
.user-links-right-column {
    border: var(--setup-border);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.email-github-container {
    
    border: var(--setup-border);
}

.links-heading, 
.links-anchor {
    font-size: var(--main-text)
}

.copyright-container,
.socials-container {
    border: var(--setup-border);
    display: flex;
    align-items: flex-end;
    font-size: 1.5em;
}

.socials-container > a {
    padding-right: 1.5em;
}

.user-links-right {
    display: grid;
    border: var(--setup-border);
}

.github{
    border: var(--setup-border);
}

.socials{
    display: flex;
    border: var(--setup-border);
}

.linkedin{
    border: var(--setup-border);
}

.instagram {
    border: var(--setup-border);
}

.twitter {
    border: var(--setup-border);
}

/**********************************************************

right-column

*********************************************************/

.right-column {
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    border: var(--setup-border);
    padding: 2.5em;
    padding-top: 15%;
    overflow: scroll;
    background-color: rgb(235, 235, 234);
}

.projects {
    display: flex;
    flex-direction: column;
    border: var(--setup-border);
}

.projects-heading {
    border: var(--setup-border);
    font-size: var(--heading);
    padding-bottom: 1em;
}

.projects-grid {
    display: grid;
    grid-template-rows: auto;
    border: var(--setup-border);
    gap: 5%;
    height: 100%;
}

.project-row {
    border: var(--setup-border);
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 3%;
}

@media (max-width: 900px) {
    .project-row {
        display: flex;
        flex-direction: column;
    }
}

.project-title {
    border: var(--setup-border);
}

.project-heading, 
.project-year,
.project-description {
    font-size: var(--main-text);
    margin: 0;
}

.project-year {
    border: var(--setup-border);
}

.project-heading {
    border: var(--setup-border);
}

.description-container {
    border: var(--setup-border);
    padding-top: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-description {
    border: var(--setup-border);
}

.repo-link {
    border: var(--setup-border);
    font-size: var(--main-text);

}

/************** skills ***************/

.skills {
    border: var(--setup-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-heading {
    border: var(--setup-border);
    font-size: var(--heading);
    padding-bottom: 1em;
}

.skills-grid {
    display: grid;
    /* grid-gap: 1rem; */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border: var(--setup-border);
}

.skills-container {
    border: var(--setup-border);
    font-size: var(--main-text)
}

.skill-heading {
    border: var(--setup-border);
    padding-bottom: 1em;
}

.skills-list {
    border: var(--setup-border);
}

.skills-item {
    border: var(--setup-border);
}